openapi: 3.0.3

info:
  title: Sistem Informasi Desa (SID) Desa Cibenda - REST API
  version: "5.1.0"
  description: |
    Spesifikasi API untuk SIDUTama Cibenda, diselaraskan ke backend v5.1.
    per Epic (E0 s/d E12, disesuaikan penomoran/judul untuk domain baru
    v5.0). Epic 0, 11, dan 12 bersifat cross-cutting/infrastruktur dan
    tidak menghasilkan endpoint HTTP baru.

    ## Perubahan besar v5.1 — Auth & Approval Flow

    Login memakai username; registrasi menggunakan NIK + password dan
    menghasilkan username otomatis. Pejabat dengan citizen dapat submit
    surat untuk dirinya sendiri. Tahap final adalah Kepala Desa/Sekdes;
    Kasi/Kaur hanya menerima notifikasi dan membaca/mengunduh surat
    selesai sesuai assigned_role. Detail breaking changes dan contoh
    request/response ada di `../frontend-changelog-auth-approval-flow.md`.

    Endpoint web auth (/login, /register, /forgot-password, /reset-password)
    tidak memakai prefix `/api`; endpoint bisnis memakai prefix `/api`.
    OpenAPI menggunakan server `/api` untuk endpoint bisnis dan override
    server di operasi autentikasi yang berada di root.

    ## Perubahan besar dari v4.2 -> v5.0

    Rombakan sistem approval surat (Category + Flow dinamis) menggantikan
    hardcode 4-tahap RT->RW->Kadus->Kasi:
    - **RT, RW, Kadus, Kades/Sekdes, dan Kasi/Kaur membaca lewat**
      `/letters` dan `/letters/{id}`. Scope daftar/detail ditentukan oleh role
      dan wilayah user; tidak ada lagi endpoint GET terpisah per-role.
    - **RW dan Kadus bukan approver.** Keduanya dapat menerima notifikasi FYI;
      tidak ada endpoint keputusan untuk RW atau Kadus.
    - **RT dan Kades/Sekdes adalah approver aktif.** Endpoint keputusan tetap
      tersedia di `/rt/letters/{letter}/decision` dan
      `/kades/letters/{letter}/decision`.
    - **`letters.status` jadi generik** (pending/in_progress/approved/
      rejected) + `flow_id` (snapshot) + `current_step_order` +
      `rejected_at_step`, menggantikan ENUM granular per posisi.
    - **3 tabel/domain baru**: `letter_categories`, `approval_flows`,
      `flow_steps` (Config over Code - lihat Epic 4).
    - **Data warga**: tabel baru `families` (KK, dipisah dari citizens)
      dan `citizen_socioeconomics`; `citizens.no_kk` dihapus total,
      ditambah 11 kolom baru (family_id, residency_type, blood_type, dst).

    Keputusan v5.1: Sekdes dapat menggantikan Kades pada tahap final
    (first-action-wins); aktor aktual tercatat di approval.

    ⚠ **Scope eksklusi eksplisit**: QR Verification, Void/Cancel Surat,
    dan Staging Perubahan Data Self-Service TIDAK ada di spec ini - status
    resmi "wacana belum berdesain" (SID-ARCH-BE-001 S10), dilarang
    diimplementasikan sebelum ada keputusan eksplisit dari pemilik proyek.

    Autentikasi: Laravel Sanctum SPA cookie-based (HttpOnly, bukan
    Bearer token/localStorage) - tidak berubah dari v4.2.

    Route protected memakai middleware `account.active`. Jika akun yang
    sudah memiliki sesi dinonaktifkan, request ditolak dengan HTTP 403,
    `code: account_inactive`; endpoint logout tetap dapat dipakai.

    Referensi arsitektur: Controller -> Form Request -> Service ->
    Repository -> Eloquent -> DB, dengan Policy untuk otorisasi context
    per resource (SID-ARCH-BE-001 S2, S4.3). 9 role sistem (ENUM tidak
    berubah dari v4.2), namun scope otorisasi kepala_desa/sekretaris_desa
    berubah total.
  contact:
    name: Tim SID Desa Cibenda
  license:
    name: Proprietary - Internal Use Only
    url: https://sid-cibenda.id/license

servers:
  - url: https://api.sid-cibenda.id/api
    description: Production
  - url: https://staging-api.sid-cibenda.id/api
    description: Staging

security:
  - sanctumCookie: []

tags:
  - name: Infrastruktur
    description: Endpoint kesehatan, CSRF, storage, dan root aplikasi.
  - name: Epic 0 - Fondasi Proyek
    description: |
      Setup repo, auth dasar, RBAC, migrasi skema 22 tabel MVP v5.0,
      struktur folder (termasuk Repository/Policy layer), Telescope.
      Murni infrastruktur - TIDAK menghasilkan endpoint HTTP baru.
  - name: Epic 1 - Struktur Wilayah
    description: CRUD Dusun (Hamlet) / RW / RT. UC-20. Tidak berubah dari v4.2.
  - name: Epic 2 - Users, Citizens, Officials
    description: |
      CRUD Data Warga (skema v5.0: families, citizen_socioeconomics,
      residency_type, dst), Import Excel, promote/demote/rotate jabatan,
      reset password, Register Warga. UC-09, UC-14, UC-17.
  - name: Epic 3 - Autentikasi
    description: Login, Logout, Register. UC-01, UC-02, UC-17.
  - name: Epic 4 - Konfigurasi Tipe Surat & Pipeline Approval
    description: |
      BARU/DIROMBAK v5.0. Edit konfigurasi tipe surat (UC-21), plus
      domain baru Config over Code: letter_categories, approval_flows,
      flow_steps - menggantikan hardcode 4-tahap approval v4.2.
  - name: Epic 5 - Alur Pengajuan & Approval Surat
    description: |
      Inti sistem, DIROMBAK TOTAL v5.0. Input surat oleh warga/pejabat,
      approval flow RT -> Kades/Sekdes final (RW FYI hanya setelah RT
      approve), notifikasi dan baca/unduh oleh Kasi/Kaur,
      daftar & detail surat generik,
      download PDF. UC-03, UC-04a, UC-04c (baru), UC-04d, UC-05, UC-06,
      UC-08. UC-04b (RW Approval) dan UC-04c versi lama (Kadus Approval)
      DIHAPUS TOTAL.
  - name: Epic 6 - Sistem Notifikasi
    description: |
      Notifikasi in-app, chain approval dinamis, FYI RW non-blocking,
      resolver mengirim notifikasi hanya kepada approver aktif yang ditemukan. Service mengirim notifikasi database secara langsung; tidak ada Event/Listener aplikasi.
  - name: Epic 7 - Deadline & Reminder Approval
    description: Setting deadline per tahap approval. UC-22.
  - name: Epic 8 - Dashboard & Statistik
    description: |
      Dashboard adaptif sesuai role. BERUBAH v5.0: Dashboard Kadus
      dihapus, Dashboard RW jadi read-only FYI, Dashboard Kepala Desa/
      Sekretaris Desa jadi approver aktif. UC-15.
  - name: Epic 9 - Halaman Publik & Konten
    description: |
      Halaman publik (tanpa login), Kelola Profil Desa, Kelola Berita,
      Kelola Peraturan Desa - eksklusif Petugas Desa (Kades/Sekdes TIDAK
      termasuk meski satu Tier navigasi). UC-16, UC-18, UC-19, UC-24.
  - name: Epic 10 - Organisasi Non-Struktural Desa
    description: Kelola BPD/BUMDES/LPM/Karang Taruna/PKK. UC-23. Tidak berubah dari v4.2.
  - name: Epic 11 - Security, Audit & Compliance Baseline
    description: |
      Rate limiting, CSRF, audit trail (spatie/laravel-activitylog +
      letter_status_logs), HTTPS/secure cookie, enkripsi field sensitif
      (NIK, No KK). Cross-cutting - TIDAK menghasilkan endpoint HTTP baru.
  - name: Epic 12 - Testing, QA & Deployment
    description: |
      Feature test, unit test, staging environment, UAT. Murni proses
      pengembangan - TIDAK menghasilkan endpoint HTTP baru.

components:
  securitySchemes:
    sanctumCookie:
      type: apiKey
      in: cookie
      name: laravel_session
      description: |
        Laravel Sanctum SPA cookie-based authentication. Token session
        disimpan di HttpOnly cookie (bukan localStorage). Wajib disertai
        CSRF token (X-XSRF-TOKEN header) untuk request mutasi (POST/PATCH/
        PUT/DELETE) sesuai konvensi Sanctum SPA. Tidak berubah dari v4.2.

paths:
  /:
    $ref: 'paths/infrastructure/root.yaml'
  # ─────────────────────────────────────────────
  # EPIC 3 - Autentikasi
  # ─────────────────────────────────────────────
  /register:
    $ref: 'paths/auth/register.yaml'
  /login:
    $ref: 'paths/auth/login.yaml'
  /logout:
    $ref: 'paths/auth/logout.yaml'
  /forgot-password:
    $ref: 'paths/auth/forgot-password-v51.yaml'
  /reset-password:
    $ref: 'paths/auth/reset-password-v51.yaml'
  /email/verification-notification:
    $ref: 'paths/auth/verification-notification.yaml'
  /verify-email/{id}/{hash}:
    $ref: 'paths/auth/verify-email.yaml'
  /sanctum/csrf-cookie:
    $ref: 'paths/infrastructure/csrf-cookie.yaml'
  /storage/{path}:
    $ref: 'paths/infrastructure/storage.yaml'
  /up:
    $ref: 'paths/infrastructure/health.yaml'
  /profile:
    $ref: 'paths/auth/profile-v51.yaml'
  /profile/password:
    $ref: 'paths/auth/profile-password-v51.yaml'
  /user:
    $ref: 'paths/auth/me.yaml'

  # ─────────────────────────────────────────────
  # EPIC 1 - Struktur Wilayah
  # ─────────────────────────────────────────────
  /hamlets:
    $ref: 'paths/wilayah/hamlets.yaml'
  /hamlets/{hamlet}:
    $ref: 'paths/wilayah/hamlet-detail.yaml'
  /rws:
    $ref: 'paths/wilayah/rws.yaml'
  /rws/{rw}:
    $ref: 'paths/wilayah/rw-detail.yaml'
  /rts:
    $ref: 'paths/wilayah/rts.yaml'
  /rts/{rt}:
    $ref: 'paths/wilayah/rt-detail.yaml'

  # ─────────────────────────────────────────────
  # EPIC 2 - Users, Citizens, Officials, Families (BARU)
  # ─────────────────────────────────────────────
  /citizens:
    $ref: 'paths/citizens/citizens.yaml'
  /citizens/{citizen}:
    $ref: 'paths/citizens/citizen-detail.yaml'
  /citizens/{id}/socioeconomic:
    $ref: 'paths/citizens/citizen-socioeconomics.yaml'
  /citizens/import:
    $ref: 'paths/citizens/import.yaml'
  /citizens/wilayah:
    $ref: 'paths/citizens/citizens-wilayah.yaml'
  /families:
    $ref: 'paths/families/families.yaml'
  /families/{family}:
    $ref: 'paths/families/family-detail.yaml'
  /users:
    $ref: 'paths/users/users.yaml'
  /users/{user}:
    $ref: 'paths/users/user-detail.yaml'
  /users/{user}/toggle-status:
    $ref: 'paths/users/toggle-status-v51.yaml'
  /officials:
    $ref: 'paths/officials/officials.yaml'
  /officials/promote:
    $ref: 'paths/officials/promote-v51.yaml'
  /officials/{official}:
    $ref: 'paths/officials/official-detail.yaml'
  /officials/{official}/rotate:
    $ref: 'paths/officials/rotate.yaml'
  /officials/{official}/demote:
    $ref: 'paths/officials/demote-v51.yaml'
  /users/{user}/reset-password:
    $ref: 'paths/users/reset-password-v51.yaml'

  # ─────────────────────────────────────────────
  # EPIC 4 - Konfigurasi Tipe Surat & Pipeline Approval (BARU domain)
  # ─────────────────────────────────────────────
  /letter-types:
    $ref: 'paths/letter-types/letter-types.yaml'
  /letter-types/{letterType}:
    $ref: 'paths/letter-types/letter-type-detail.yaml'
  /letter-categories:
    $ref: 'paths/letter-categories/letter-categories.yaml'
  /approval-flows:
    $ref: 'paths/approval-flows/approval-flows.yaml'
  /approval-flows/{id}:
    $ref: 'paths/approval-flows/approval-flow-detail.yaml'
  /approval-flows/{id}/steps:
    $ref: 'paths/approval-flows/approval-flow-steps.yaml'

  # ─────────────────────────────────────────────
  # EPIC 5 - Alur Pengajuan & Approval Surat
  # ─────────────────────────────────────────────
  /letters:
    $ref: 'paths/letters/letters.yaml'
  /letters/{letter}:
    $ref: 'paths/letters/letter-detail.yaml'
  /letters/{letter}/download:
    $ref: 'paths/letters/download.yaml'
  /letters/{letter}/preview:
    $ref: 'paths/letters/preview-v51.yaml'
  /rt/letters/{letter}/decision:
    $ref: 'paths/rt/letter-decision.yaml'
  /kades/letters/{letter}/decision:
    $ref: 'paths/kades/letter-decision.yaml'

  # ─────────────────────────────────────────────
  # EPIC 6 - Sistem Notifikasi
  # ─────────────────────────────────────────────
  /notifications:
    $ref: 'paths/notifications/notifications.yaml'
  /notifications/{id}/read:
    $ref: 'paths/notifications/mark-read.yaml'
  /notifications/read-all:
    $ref: 'paths/notifications/read-all.yaml'
  /notifications/unread-count:
    $ref: 'paths/notifications/unread-count.yaml'

  # ─────────────────────────────────────────────
  # EPIC 7 - Deadline & Reminder Approval
  # ─────────────────────────────────────────────
  /approval-settings:
    $ref: 'paths/approval-settings/approval-settings.yaml'
  /approval-settings/{id}:
    $ref: 'paths/approval-settings/approval-setting-detail.yaml'

  # ─────────────────────────────────────────────
  # EPIC 8 - Dashboard & Statistik
  # ─────────────────────────────────────────────
  /dashboard:
    $ref: 'paths/dashboard/dashboard.yaml'
  /dashboard/gender-stats:
    $ref: 'paths/dashboard/gender-stats.yaml'
  /dashboard/letter-stats:
    $ref: 'paths/dashboard/letter-stats.yaml'

  # ─────────────────────────────────────────────
  # EPIC 9 - Halaman Publik & Konten
  # ─────────────────────────────────────────────
  /public/home:
    $ref: 'paths/public/home.yaml'
  /public/village-profile:
    $ref: 'paths/public/village-profile.yaml'
  /public/news:
    $ref: 'paths/public/news.yaml'
  /public/letter-types:
    $ref: 'paths/public/letter-types.yaml'
  /public/regulations:
    $ref: 'paths/public/regulations.yaml'
  /public/contact-us:
    $ref: 'paths/public/contact-us.yaml'
  /villages/profile:
    $ref: 'paths/villages/profile.yaml'
  /news:
    $ref: 'paths/news/news.yaml'
  /news/{id}:
    $ref: 'paths/news/news-detail.yaml'
  /regulations:
    $ref: 'paths/regulations/regulations.yaml'
  /regulations/{id}:
    $ref: 'paths/regulations/regulation-detail.yaml'

  # ─────────────────────────────────────────────
  # EPIC 10 - Organisasi Non-Struktural Desa
  # ─────────────────────────────────────────────
  /village-org-positions:
    $ref: 'paths/village-org/positions.yaml'
  /village-org-positions/{id}:
    $ref: 'paths/village-org/position-detail.yaml'
  /village-org-positions/{position}/members:
    $ref: 'paths/village-org/members.yaml'
  /village-org-positions/{position}/members/{id}:
    $ref: 'paths/village-org/member-detail.yaml'

  # ─────────────────────────────────────────────
  # EPIC 0, 11, 12 - Tidak ada endpoint HTTP
  # (infrastruktur, security cross-cutting, testing/deployment)
  # Lihat deskripsi tag di atas untuk detail.
  # ─────────────────────────────────────────────
